/*  index.html  */
.context {
    font-family:system-ui;
    color:red;
    width: 300px;
    padding: 10px;
    outline: auto;
}

.link {
    color: blanchedalmond;
    background-color: darkslategray;
    padding: 5px;
    margin:5px;
    margin-left: 25px;
    border-radius: 10px;
    text-align:left;
    width:260px;
}

.home{
    border-color:rgb(0, 78, 52);
    background-color:rgb(34, 122, 93);
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
}

div {
    display:flex;
    align-items: flex-start;
}

img {
    border-style:solid;
    display: inline-block;
    vertical-align: top;
    
    
}


.text{
    display: block;
    margin:0;
}

.title{
    color:black;
    width: fit-content;
    margin: 0 auto;
    
    
    padding: 10px;
    
}

a {
    text-decoration: none;
}




